body {
  margin: 0;
  padding: 0;
  background-color: rgb(255, 247, 247);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
}